{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'front_assets/external/jquery/jquery.min.js' %}"><\/script>')</script>
<script defer src="{% static 'front_assets/js/bundle.js' %}"></script>
<script src="{% static 'front_assets/external/sweetalerts/sweetalert2.min.js' %}"></script>
<script src="{% static 'front_assets/external/sweetalerts/custom-sweetalert.js' %}"></script>
<script src="{% static 'front_assets/external/notification/snackbar/snackbar.min.js' %}"></script>
<script src="{% static 'front_assets/external/notification/snackbar/custom-snackbar.js' %}"></script>

<script src="{% static 'front_assets/js/functions.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'front_assets/js/rating.js' %}"></script>
<script src="{% static 'front_assets/separate-include/listing/jquery-ui.min.js' %}"></script>


