{% extends 'default_base.html' %}
{% load static %}
{% block seller_container %}

    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="">Sign In</h1>
                        <p class="">Log in to your account to continue.</p>
                        
                        <form action="{% url 'seller:login' %}" id="forgotForm" class="text-left">
                        {% csrf_token %}
                            <div class="form">
                                <div id="username-field" class="field-wrapper input">
                                    <label for="username">EMAIL</label>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    {{form.email}}
                                    <div id="email-error" class="invalid-feedback"></div>   
                                </div>                             
                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper">
                                        <button type="button" onclick="forgotFormsSubmit('forgotForm')" class="btn btn-primary" value="">Log In</button>
                                    </div>
                                </div>                              

                               <p class="signup-link register">Already have an account? <a href="{% url 'seller:login' %}">Log in</a></p>

                            </div>
                        </form>

                    </div>                    
                </div>
            </div>
        </div>
    </div>

{% endblock seller_container %}

