{% extends 'default_base.html' %}
{% load static %}
{% block seller_container %}
    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap" style="max-width:700px">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="">Register</h1>
                        <p class="signup-link register">Already have an account? <a href="{% url 'seller:login' %}">Log in</a></p>
                        <form action="{% url 'seller:register' %}" id="registerForm" method="POST" autocomplete="off" class="text-left">
                           {% csrf_token %}
                           <div class="form-row">
                                <div class="col-md-6 mb-4">
                                    <label for="username">FIRST NAME</label>
                                    {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> {% endcomment %}
                                     {{form.first_name}}
                                    <div id="first_name-error" class="invalid-feedback"></div> 
                                </div>

                                  <div class="col-md-6 mb-4">
                                    <label for="username">LAST NAME</label>
                                    {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> {% endcomment %}
                                     {{form.last_name}}
                                    <div id="last_name-error" class="invalid-feedback"></div> 
                                </div>

                                  <div class="col-md-6 mb-4">
                                    <label for="username">MOBILE</label>
                                    {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> {% endcomment %}
                                       {{form.mobile_no}}
                                    <div id="mobile_no-error" class="invalid-feedback"></div> 
                                </div>                              

                                 <div class="col-md-6 mb-4">
                                    <label for="email">EMAIL</label>
                                    {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign register"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg> {% endcomment %}
                                     {{form.email}}
                                    <div id="email-error" class="invalid-feedback"></div>    
                                </div>

                                 <div class="col-md-6 mb-4">
                                    <div class="d-flex justify-content-between">
                                        <label for="password">PASSWORD</label>
                                        {% comment %} <a href="auth_pass_recovery_boxed.html" class="forgot-pass-link">Forgot Password?</a> {% endcomment %}
                                    </div>
                                    {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>                                    {% endcomment %}
                                     {{form.password}}
                                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="toggle-password" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    <div id="password-error" class="invalid-feedback"></div>    
                                </div>

                                   <div class="col-md-6 mb-4">
                                    <div class="d-flex justify-content-between">
                                        <label for="password">CONFIRM PASSWORD</label>
                                        {% comment %} <a href="auth_pass_recovery_boxed.html" class="forgot-pass-link">Forgot Password?</a> {% endcomment %}
                                    </div>
                                    {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg> {% endcomment %}
                                       {{form.confirm_password}}
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="toggle-password" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    <div id="confirm_password-error" class="invalid-feedback"></div>   
                                </div>

                                {% comment %} <div class="field-wrapper terms_condition">
                                    <div class="n-chk">
                                        <label class="new-control new-checkbox checkbox-primary">
                                          <input type="checkbox" class="new-control-input">
                                          <span class="new-control-indicator"></span><span>I agree to the <a href="javascript:void(0);">  terms and conditions </a></span>
                                        </label>
                                    </div>
                                </div> {% endcomment %}
<div class="col-md-12 mb-12">
                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper">
                                        <button type="button" onclick="registerFormsSubmit('registerForm')" class="btn btn-primary" value="">Get Started!</button>
                                    </div>
                                </div>
                                </div>

                                {% comment %} <div class="division">
                                    <span>OR</span>
                                </div> {% endcomment %}

                                {% comment %} <div class="social">
                                    <a href="javascript:void(0);" class="btn social-fb">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg> 
                                        <span class="brand-name">Facebook</span>
                                    </a>
                                   <a href="javascript:void(0);" class="btn social-github">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                                        <span class="brand-name">Github</span>
                                    </a>
                                </div> {% endcomment %}

                            </div>
                        </form>

                    </div>                    
                </div>
            </div>
        </div>
    </div>


     {% comment %} <div class="container">
      <div class="register-wrapper">
        <div class="text-center">
          <img src="{% static 'front_assets/images/bat_design_New3_07.jpg' %}" width="100" alt="logo">
        </div><!-- /.logo-wrapper -->

        <div class="panel">
          <div class="panel-body">
            <h2>Sign Up</h2>
            <form action="{% url 'seller:register' %}" id="registerForm" method="POST" autocomplete="off">
           
              <div class="form-title">
                <span>Personal details</span>
              </div>
               <div class="row">               
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputEmail1" class="control-label">First Name</label>
                      {{form.first_name}}
                    <div id="first_name-error" class="invalid-feedback"></div>                    
                  </div><!-- /.form-group -->
              </div>
               <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputEmail1" class="control-label">Last Name</label>
                      {{form.last_name}}
                    <div id="last_name-error" class="invalid-feedback"></div>                   
                  </div><!-- /.form-group -->
              </div>
              <div class="col-sm-6">
              <div class="form-group">
               <label for="inputEmail1" class="control-label">Mobile Number</label>
                   {{form.mobile_no}}
                <div id="mobile_no-error" class="invalid-feedback"></div>                
              </div><!-- /.form-group -->
              </div>      
              <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail1" class="control-label">Email Address</label>
                 {{form.email}}
                <div id="email-error" class="invalid-feedback"></div>               
              </div><!-- /.form-group -->
              </div>            
             
              <div class="col-sm-6">
              <div class="form-group">
               <label for="inputEmail1" class="control-label">Password</label>
                 {{form.password}}
               <div id="password-error" class="invalid-feedback"></div>                
              </div><!-- /.form-group -->
              </div>
              <div class="col-sm-6">
              <div class="form-group">
                 <label for="inputEmail1" class="control-label">Re-type your password</label>
                  {{form.confirm_password}}
                <div id="confirm_password-error" class="invalid-feedback"></div>               
              </div><!-- /.form-group -->
              </div>
               <div class="col-sm-12">
                <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="icheck-minimal-grey">
                        Accept the <a href="javascript:;">Terms of Service</a> &amp; <a href="javascript:;">Privacy Policy</a>
                      </label>
                      <div id="inputEmail1-error" class="invalid-feedback"></div>
                    </div>
                  </div><!-- /.form-group -->
              </div> 
              <div class="col-sm-12">
              <button type="button" onclick="registerFormsSubmit('registerForm')"  class="btn btn-primary btn-block rounded">SIGN UP</button>
              </div>
              </div>
            </form>
          </div><!-- /.panel-body -->
          <div class="panel-footer">
            <a href="page-login2.html">HAVE AN ACCOUNT ?</a>
          </div><!-- /.panel-footer -->
        </div><!-- /.panel -->
      </div>
    </div><!--container--> {% endcomment %}
{% endblock seller_container %}


