<tr id="variant_attr_set-{{last_row_no}}"> 
    {% for attr in theme_attributes.pro_attr.all %}
        {% if attr.input_type == 'dropdown' and attr.slug != 'color' %} 
            <td class="field-{{attr.slug}} td-md">                                                                                                                               
                <select name="{{attr.slug}}[]" id="id_productvariant_set-{{last_row_no}}-{{attr.slug}}" class="form-control form-control-sm">
                    <option value="0" selected>Size</option>
                    {% for values in attr.attr_values.all %}
                        <option value="{{values.id}}">{{values.name}}</option>
                    {% endfor %} 
                </select>                                               
            </td>
        {% endif %}   
    {% endfor %}
    <td class="field-price">
        <input type="hidden" value="{{theme_attributes.id}}" name="variation_theme[]">
        <input type="hidden" value="{{attr.id}}" name="attr_name[]">
        <input type="number" min="99" max="99999" name="price[]" value="{{product.sale_price}}" id="id_productvariant_set-{{last_row_no}}-price" class="form-control form-control-sm" placeholder="Price">
    </td>
    <td class="field-qty"><input type="number" min="0" max="9999" value="{{product.quantity}}" name="qty[]" id="id_productvariant_set-{{last_row_no}}-qty" class="form-control form-control-sm" placeholder="Quantity"></td>                                                              
    <td class="delete_row_set-{{last_row_no}}" class="field-variation">
        <ul class="table-controls">
            <li><a href="javascript:void(0);" onclick="deleteAttrModal({{last_row_no}})" class="delete-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg></a></li>
        </ul>
    </td>
</tr>