    {% load static %}
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>CORK Admin Template - Dashboard</title>
    <link rel="icon" type="image/x-icon" href="{% static 'super_admin_assets/assets/img/favicon.ico' %}"/>
    <link href="{% static 'super_admin_assets/assets/css/loader.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'super_admin_assets/assets/js/loader.js' %}"></script>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="{% static 'super_admin_assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'super_admin_assets/assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="{% static 'super_admin_assets/plugins/apex/apexcharts.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'super_admin_assets/assets/css/dashboard/dash_1.css' %}" rel="stylesheet" type="text/css" class="dashboard-analytics" />
    <link rel="stylesheet" type="text/css" href="{% static 'super_admin_assets/assets/css/elements/alert.css' %}">
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{% static 'super_admin_assets/assets/css/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
    <!-- toastr -->
    <link href="{% static 'super_admin_assets/plugins/notification/snackbar/snackbar.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'super_admin_assets/plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'super_admin_assets/assets/css/elements/avatar.css' %}">
    
    <!-- END PAGE LEVEL PLUGINS -->
