   <div class="modal fade" id="product-card-example" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title">Product Card - Name D560</h4>
          </div><!-- .modal-header -->

          <div class="modal-body">
            <div class="table-responsive m-top-20 m-bottom-30">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>SKU</th>
                    <th>Views</th>
                    <th>Cost&nbsp;Price</th>
                    <th>Price</th>
                    <th>Sales</th>
                    <th>Sales&nbsp;($)</th>
                    <th>Earnings&nbsp;($)</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>096</td>
                    <td>65,796</td>
                    <td>$25,5</td>
                    <td>$30,0</td>
                    <td>4,100</td>
                    <td>$123,695</td>
                    <td class="text-success">$59,625</td>
                  </tr>
                </tbody>
              </table>
            </div><!-- /.table-responsive -->
          </div><!-- .modal-body -->
        </div>
      </div><!-- /.modal-dialog -->
    </div>