{% extends 'frontend_base.html' %}
{% load static %}
{% block main_content %}


<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding ">
			<div class="tt-about02-col-list">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-xl-12">
						<div>
							<h3>Introduction</h3>
							<hr>
							<p>Commemorate at Hornbill Mart, the unique source for all types of Artificial Jewellery. The company is committed to providing the very best of Artificial Jewellery as Kundan Jewellery, American Diamond Jewellery, Jaipuri Jewellery, Gold Plated Jewellery, Combo set, Necklace set, Earrings, Bracelet, Mala, Mangalsutra, Bangles, Rings, Bridal set, Semi-bridal set, Rani-Haar, Maang-Tikka, Anklets etc and supports with a focus on dependability, customer service and exclusivity.</p>
							<h3>About Jeweller:</h3>
							<hr>
							<p><b>Hornbill Mart</b> was registered in 2018 and has made its name in the list of top suppliers of fashion jewellery of the country. The supplier company is located in Meerut, UP and is one of the leading sellers of listed products. This company is listed in Trade India's list of verified sellers, offering supreme quality of exclusive look ladies earring, etc. Buy fashion jewellery in bulk from this company for its quality product and service.
							</p>
							<h2><b>Business type:- wholesale/ distributor/ supplier</b></h2>
							<hr>
							<h4>Our speciality and quality</h4>
							<p>Hornbill Mart provides paramount of quality imitation jewellery as Kundan Jewellery, Kundan Bridal-jewellery set and Semi Bridal-jewellery. We are an eminent form and is keenly committed to offering a premier quality range of products within the minimum time period and also at an honest price.</p>
							<b>Few of the essential factors that help us to become the prime choice of esteemed customers are listed below:-</b>
							<ul>
								<li>Qualitative products</li>
								<li>Client-centric approach</li>
								<li>Dexterous steam of professionals</li>
								<li>Affirmative response</li>
								<li>Superb transport and logistics facility</li>
								<li>Efficient price range</li>
								<li>Swift delivery</li>
								<li>Trustworthy</li>
							</ul>
							<h3>New Modern Traditional Jewellery</h3>
							<hr>
							<p>Hornbill Mart presents the good quality of fancy party wear Kundan necklace set for women. Necklace jewellery set is made of Kundan which looks stylish and goes perfect with wedding costumes. Imagine your friend and relatives with a trendy and stylish look. Wear your designer wedding costume and complement it with the necklace set to look all fabulous and stylish. Be at the centre of all the attractions with this elegant and traditional necklace set from Hornbill Mart. It also provides perfect bridal jewellery set for the wedding, Gold plated with embedded American diamond latest designer ring.
							</p>
							<h1>Artificial Jewellery</h1><hr>
							<p>When we think about jewellery only the gold, diamonds, silver and platinum clicks in our minds. However, now the conception of the same is changed hence this is not the case anymore. The trend has altogether changed and Artificial Jewellery, popular known as imitation jewellery, bling jewellery, modern jewellery or fashion jewellery is in more exotic jewellery, was probably made for wealthy people indicating its social status.
							</p>
							<h3>Materials used</h3><hr>
							<p>Artificial jewellery is made of materials which include metals, glass, plastic and artificial stones and sometimes precious stone and gems, in the case of valuable jewellery. Various materials are used to manufacture or handcraft exclusive jewellery pieces some of the widely used materials are: leather, beads, bone and horn, brass, Resin, paper, glass, terracotta, clay, plastics, ceramic stainless steel, Shells, jute, sterling silver and various other metals.</p>
							<h3>Availability</h3><hr>
							<p>Artificial Jewellery is now available in each and every part of the country and nowadays it is sold online also. Globally, it is in high demand and in India it gets a lot of business. The main reasons behind this rising popularity of artificial jewellery are its availability in multiple colours and irony of designs, lightweight and off course its affordability.
							</p>
						</div>
					</div>
<!-- 
					<div class="col-md-8">
						<h5 class="tt-title">OUR STORES</h5>
						<div class="width-90">
							<p>Welcome to <b>Hornbill Mart</b>, one source for all things artificial jewelry and garments. We&rsquo;re dedicated to giving you the very best of artificial jewelry and garments, with a focus on  dependability, customer service and uniqueness.
							</p>
							<p>Founded in 2017 by Ajit Singh, Piyush Kumar and Neha, <b>Hornbill Mart</b> has come a long way from its beginnings in a B-54, Sector-1 , Shatabdi Nagar, Meerut (U.P.). We now serve customers all over India, and are thrilled to be a part of the quirky, eco-friendly, fair trade wing of the artificial jewelry and garments.
							</p>
							<p>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don&rsquo;t hesitate to contact us.
							</p><p>Sincerely,
							</p><br />Hornbill Mart.
						</div>
					</div> -->
					<!-- <div class="col-md-4">
						<h5 class="tt-title">CONTACTS</h5>
						<div class="tt-box-info">
							<p>
								<span class="tt-base-dark-color">Address:</span> B-54, Sector-1, Shatabdi Nagar, Meerut, Uttar Pradesh 250103, India.
							</p>
							<p>
								<span class="tt-base-dark-color">Phone:</span> +91 9259403045,
								+91 9557000873
							</p>
							<p>
								<span class="tt-base-dark-color">Hours:</span> 7 Days a week from 10 am to 6 pm
							</p>
							<p>
								<span class="tt-base-dark-color">E-mail:</span> <a class="link" href="mailto:info@hornbillmart.com">info@hornbillmart.com</a>
							</p>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}