{% extends 'frontend_base.html' %}
{% load static %}
{% block main_content %}
	<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="{% url 'home' %}">Home</a></li>
			<li>Shopping Cart</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container">
			<h1 class="tt-title-subpages noborder">COMPARING <span id="tt-compare-countitem">{{compare_product|length}}</span> PRODUCTS</h1>
			<!--  -->
			<div class="tt-compare-table02" id="tt-compare-table02">
				<div class="tt-col-title">
					<div class="title-item js_one-height-01"></div>
					<div class="title-item js_one-height-02">
						Descriptions
					</div>
					<div class="title-item js_one-height-03">
						Vendor
					</div>
					<div class="title-item js_one-height-04">
						Color
					</div>
					<div class="title-item js_one-height-05">
						Size
					</div>
					<div class="title-item js_one-height-06">
						Material
					</div>
					<div class="title-item js_one-height-07"></div>
				</div>
				<div class="tt-col-item">
					<div class="compare-init-slider">
						<!-- 1 -->
						{% for product in compare_product %}
						<div class="tt-item">
							<div class="tt-image-box js_one-height-01">
								<a href="javascript:void(0)" onclick="removeCompareProduct({{product.id}})" class="tt-remove-item js-remove-item"></a>
								<div class="tt-img">
									<a href="{{product.product.get_absolute_url}}"><img src="{{ product.product.mainThumb }}" alt="{{ product.product.product_name }}" class="loading" data-was-processed="true"></a>
								</div>
								<div class="tt-label-location">
								{% if product.product.quantity <= 0 %}
									<div class="tt-label-our-stock">Out of Stock</div>
								{% else %}
									<div class="tt-label-in-stock">In Stock</div>
								{% endif %}
									
								</div>
								<h2 class="tt-title"><a href="{{product.product.get_absolute_url}}">{{ product.product.product_name }}</a></h2>
								<div class="tt-price">
									<span class="new-price">₹{{ product.product.sale_price }}</span>
									<span class="old-price">₹{{ product.product.regular_price }}</span>
								</div>
								{% if product.product.quantity <= 0 %}
									Out of Stock
								{% else %}
									<a href="javascript:void()" onclick="addToCartOther({{product.product.id}})" class="tt-btn-addtocart"><i class="icon-f-39"></i>ADD TO CART</a>
								{% endif %}
								
							</div>
							<div class="tt-value js_one-height-02">
								{{ product.product.short_desc }}
							</div>
							<div class="tt-value js_one-height-03">
								Levi’s
							</div>
							<div class="tt-value js_one-height-04">
								Blue, Purple, White
							</div>
							<div class="tt-value js_one-height-05">
								20, 24
							</div>
							<div class="tt-value js_one-height-06">
								100% Polyester
							</div>
							<div class="tt-value  js_one-height-07">
								{% if product.product.quantity <= 0 %}
									Out of Stock
								{% else %}
									<a href="javascript:void()" onclick="addToCartOther({{product.product.id}})" class="tt-btn-addtocart"><i class="icon-f-39"></i>ADD TO CART</a>
								{% endif %}
							</div>
						</div>
						<!-- / -->
						{% empty %}
						{% endfor %}					
						
					</div>
				</div>
			</div>
			<!-- / -->
		</div>
	</div>
</div>
{% endblock %}

{% block ex_js %}
	<script>
	jQuery(function($){
		var ttCompareTable02 = $('#tt-compare-table02'),
			compareInitSlider02 = ttCompareTable02.find('.compare-init-slider');
		if (ttCompareTable02.length && compareInitSlider02.length){
			(function(){
					//slider init
					compareInitSlider02.slick({
							dots: false,
							arrows: true,
							infinite: true,
							speed: 300,
							slidesToShow: 3,
							slidesToScroll: 3,
							adaptiveHeight: true,
							responsive: [
							{
								breakpoint: 1025,
								settings: {
									slidesToShow: 2,
								}
							},
							{
								breakpoint: 790,
								settings: {
									slidesToShow: 1
								}
							},
							{
								breakpoint: 600,
								settings: {
									slidesToShow: 2,
									slidesToScroll: 2
								}
							},
							{
								breakpoint: 480,
								settings: {
									slidesToShow: 1,
									slidesToScroll: 1
								}
							}
							]
					});

					$(window).on('ready, load', function(){
						    initalignmentTable();
					});
					$(window).resize(debouncer(function(e){
							initalignmentTable();
					}));
					function initalignmentTable(){
						var place01 = ttCompareTable02.find('.tt-col-title'),
								place02 = ttCompareTable02.find('.tt-col-item'),
								place01TotalElement = place01.find('> div').size(),
								place02TotalElement = place02.find('.tt-item:first-child > div').size();

						if(place01TotalElement === place02TotalElement){
								var i = 1;
								while (i <= place01TotalElement) {
										var keyword = "js_one-height-0" + i;
										i++;
										calculatingMaxHeight(keyword);
								}
						};
						function calculatingMaxHeight($obj){
							var getObj = ttCompareTable02.find('.' + $obj);

							var maxHeight = 0;
							getObj.css("height", "auto").each(function(){
									$(this).css("height", "auto");
									var colHeight = $(this).height();
									if($(this).height() > maxHeight){
											maxHeight = $(this).height();
									};
							});
							getObj.height(maxHeight);

						};
					};
					function debouncer(func, timeout) {
							var timeoutID, timeout = timeout || 500;
							return function() {
									var scope = this,
											args = arguments;
									clearTimeout(timeoutID);
									timeoutID = setTimeout(function() {
											func.apply(scope, Array.prototype.slice.call(args));
									}, timeout);
							}
					};
			}());
		};
	});
</script>
{% endblock %}